/*basics för alla sidor*/

body{
    margin: 0;
}

.wrapper{
    height: 185vh;
    background-color: #5E5959;
    display: grid;
    grid-template-rows: 6% 94%;
    grid-template-areas: 
    "header"
    "footer";

}

header{
    grid-area: header;
    background-color: #3E3838;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

p{
    font-family: 'Rockwell';
    color: #FFD600;
    font-size: 50px;
    margin: 0;
    position: relative;
    
}

.material-icons.md-48{
    color: #FFD600;
    font-size: 50px;
    position: absolute;
    left: -85px;
    top: 6px;
    z-index: 10;
}

footer{
    grid-area: footer;
    background-color: #5E5959;
    display: grid;
    grid-template-areas: 
    "box1"
    "box2"
    "box3";
}

.burgarmeny {
    height: 100vh;
    width: 100vw;
    background-color: #3E3838;
    position: fixed;
    left: -100%;   
    transition: 0.3s;  
    font-size: 180%;
    font-family: 'Rockwell';
    z-index: 9;
}

.activate{
    left: 0vw;
}

ul{
    position: absolute;
    top: 100px;
    padding: 0;
    list-style: none;
    color: #FFD600;
}

li{
    padding: 60px;
    
}

/* Hemsida */

.box1{
    grid-area: box1;
    background-color: blue;
    margin: 15px;
    background-image: url(../img/skog.jpg);
    overflow: hidden;

}


.box2{
    grid-area: box2;
    background-color: blue;
    margin: 15px;
    background-image: url(../img/skåne.jpg);
    overflow: hidden;
} 

.box3{
    grid-area: box3;
    background-color: blue;
    margin: 15px;
    background-image: url(../img/västkust.jpg);
    overflow: hidden;

    
}
.collapsiblebox{
    height: 396.63px;
    width: 390px;
    display: flex;
    background-color: #3E3838;
    position: relative;
    bottom: 310px;
    transition: 0.3s;
    text-align: center;
}

.collapsiblebox.activated {
    bottom: 0;
    background-color: #3E3838;
    
}


.material-icons.pil.ner{
    color: #FFD600;
    position: relative;
    top: 315px;
    left: 300px;
    height: 75px;
    font-size: 75px;
    transform: rotateZ(0deg);
    transition: transform 300ms ease-out;
}
.material-icons.pil.ner.rotate{
    transform: rotateZ(180deg);
}
