/*basics för alla sidor*/


body{
    margin: 0;
    background-color: #5E5959;
}

.wrapper{
    height: 185vh;
    background-color: #5E5959;
    display: grid;
    grid-template-rows: 6% 94%;
    grid-template-areas: 
    "header"
    "footer";
    margin: 0;

}

header{
    grid-area: header;
    background-color: #3E3838;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: sticky;
    top: 0;
}

p{
    font-family: 'Rockwell';
    color: #FFD600;
    font-size: 50px;
    margin: 0;
    position: relative;
    
}

.material-icons.md-48{
    color: #FFD600;
    font-size: 50px;
    position: absolute;
    left: -85px;
    top: 6px;
    z-index: 10;
}

footer{
    grid-area: footer;
    background-color: #5E5959;
    display: grid;
    grid-template-areas: 
    "box1"
    "box2"
    "box3";
}

.burgarmeny {
    height: 100vh;
    width: 100vw;
    background-color: #3E3838;
    position: fixed;
    left: -100%;   
    transition: 0.3s;  
    font-size: 180%;
    font-family: 'Rockwell';
    z-index: 9;
}

.activate{
    left: 0vw;
}

ul{
    position: absolute;
    top: 100px;
    padding: 0;
    list-style: none;
    color: #FFD600;
}

.desktop-brandinfo{
    position: initial;
}

li{
    padding: 60px;
    
}

a{
    color: #FFD600;
    text-decoration: none;
}

.menyknapp1, .menyknapp2, .menyknapp3{
    font-size: 0;
}

/* Home */

.collapsable1{
    grid-area: box1;
    margin: 15px;
    background-image: url(../img/skog.jpg);
    overflow: hidden;
   

}

.collapsable2{
    grid-area: box2;
    margin: 15px;
    background-image: url(../img/skåne.jpg);
    overflow: hidden;
    
} 

.collapsable3{
    grid-area: box3;
    margin: 15px;
    background-image: url(../img/västkust.jpg);
    overflow: hidden; 

    
}

.collapsiblebox{
    height: 396.63px;
    background-color: #3E3838;
    position: relative;
    bottom: 310px;
    transition: 0.3s;
    display: grid;
    grid-template-rows: 83% 17%;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "brödtext brödtext"
    "info pil";
    border:  #3E3838 solid 5px;
    border-left-color: #FFD600;
    

}

.collapsiblebox.activated {
    bottom: 0;
    background-color: #3E3838;  

}

.material-icons.pil.ner {
    color: #FFD600;
    width: 75px;
    height: 75px;
    font-size: 75px;
    transform: rotateZ(0deg);
    transition: transform 300ms ease-out;
    grid-area: pil ;
    position: relative;
    left: 100px;
    bottom: 15px;
}

.material-icons.pil.ner.rotate {
    transform: rotateZ(180deg);
}

.collapsable.info {
    font-size: 35px;
    grid-area: info ; 
    height: 75px;
    position: relative;
    left: 25px;
}

.collapsabletext {
    font-size: 25px;
    color: #FFD600;
    font-family: 'Rockwell';
    grid-area: brödtext ;
    margin: 20px;
    line-height: 1.3;
}

/* History */

.historyf{
    display: grid;
    grid-template-areas:
    "rubrik"
    "låda" ;
    margin: 15px;
    grid-template-rows: 5% auto;
    

}

.history{
    color: #FFD600;
    font-family: 'Rockwell';
    font-size: 35px;
    position: relative;
    grid-area: rubrik;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textbox{
    grid-area: låda;
    background-color: #5E5959;
    border:  #3E3838 solid 5px;
    border-left-color: #FFD600;
    text-align: center;
    

}

.historytext1, .historytext2, .historytext3, .historytext4{
    font-size: 25px;
    margin: 20px;
    line-height: 1.4;



}

.snuff, .snuff2{
    display: none;
}


/* Brands */
.brandlåda1{
    grid-area: brandlåda1;
}

.brandlåda2{
    grid-area: brandlåda2;
}

.brandlåda3{
    grid-area: brandlåda3;
} 

.brandlåda4{
    grid-area: brandlåda4;
}

.brandfooter{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "brandlåda1" "brandlåda2"
    "brandlåda3" "brandlåda4";

}

.brandbox1, .brandbox2, .brandbox3, .brandbox4{
    margin: 15px;
    background-color: #5E5959;
    border: #3E3838;
    border-width: 5px;
    border-style: solid;
    border-left-color: #FFD600;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "bildbox"
        "brandinfo";
}

.brandinfo{
    list-style: none;
    padding: 10px;
    color: #FFD600;
    font-family: rockwell;
    font-size: 25px;
    grid-area: brandinfo;
}

.bildbox{
    grid-area: bildbox;
    
}

.snuslist{
    padding: 10px;
}

.menylink {
    height: 40px;
    width: 100px;
    position: relative;
}



/* /* desktop skit  */

.infotext{
    display: none;
}


.bildgalleri{
    display: none;
}

@media only screen and (min-width: 768px){


    .wrapper{
        height: 185vh;
        background-color: #5E5959;
        display: grid;
        grid-template-rows: 8% 92%;
        grid-template-areas: 
        "header"
        "footer";
        margin: 0;
    
    }

    header{
        grid-area: header;
        background-color: #3E3838;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
        position: sticky;
        top: 0;
        text-align: center;
        border-bottom: #FFD600 solid 5px;

    }

    .headerknappar{
        display: flex;
        position: absolute;
        bottom: -20px;
        width: 80%;
        justify-content: space-between;
        
    }

    .menyknapp1, .menyknapp2, .menyknapp3{
        display: flex;
        height: 40px;
        background-color: #3E3838;
        width: 100px;
        justify-content: center;
        align-items: center;
        font-family: 'Rockwell';
        font-size: 25px;
        color: #FFD600;
    
    }
    
    p{
        font-family: 'Rockwell';
        color: #FFD600;
        font-size: 50px;
        margin: 0;
        position: relative;
        
    }   

    .material-icons.md-48{
        font-size: 0;
    }

    footer{
        margin: 40px;
        grid-area: footer;
        background-color: #5E5959;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "bildgalleri bildgalleri bildgalleri"
        "undertext undertext collapsable"
        "undertext undertext collapsable";

    }
    
    a{
        color: #FFD600;
        text-decoration: none;
    }

    .collapsable1, .collapsable2{
        display: none;
    }

    .burgarmeny {
        display: none;
    }

    .undertext{
        grid-area: undertext;
        background-color:  #5E5959;
        margin: 20px;
        border: #3E3838 solid 5px;
        border-left: #FFD600 solid 5px;

    }

    .collapsable3{
        grid-area: collapsable;
        margin: 20px;
        background-image: url(../img/västkust.jpg);
        overflow: hidden; 
        border-left:#FFD600 solid 5px; 
    
        
    }
    
    .collapsiblebox{
        height: 396.63px;
        background-color: #3E3838;
        transition: 0.3s;
        display: grid;
        grid-template-rows: 83% 17%;
        grid-template-columns: 50% 50%;
        grid-template-areas: 
        "brödtext brödtext"
        "info pil";
        border:  #3E3838 solid 5px;
        
        
    
    }
    
    .collapsiblebox.activated {
        height: 100%;
        bottom: 0;
        background-color: #3E3838;  
    
    }
    
    .material-icons.pil.ner {
        color: #FFD600;
        width: 75px;
        height: 75px;
        font-size: 75px;
        transform: rotateZ(0deg);
        transition: transform 300ms ease-out;
        grid-area: pil ;
        position: relative;
        left: 100px;
        bottom: 15px;
    }
    
    .material-icons.pil.ner.rotate {
        transform: rotateZ(180deg);
    }
    
    .collapsable.info {
        font-size: 35px;
        grid-area: info ; 
        height: 75px;
        position: relative;
        left: 25px;
    }
    
    .collapsabletext {
        font-size: 25px;
        color: #FFD600;
        font-family: 'Rockwell';
        grid-area: brödtext ;
        margin: 17px;
        line-height: 1.3;
        overflow: hidden;
    }

    .infotext{
        font-size: 25px;
        line-height: 1.4;
        margin: 20px;
    }


    

    
    /* bildgalleri */

    .bildgalleri.bildgalleridesktop{
        grid-area: bildgalleri;
        margin: 20px;
        display: flex;
        justify-content: center ;
        align-content: center;
        position: relative;
    }

    #slider{
        border-left: #FFD600 solid 5px;
    }


    @keyframes slidy {    
        0% { left: 0%; }
        20% { left: 0%; }
        25% { left: -100%; }
        45% { left: -100%; }
        50% { left: -200%; }
        70% { left: -200%; }
        75% { left: -300%; }
        95% { left: -300%; }
        100% { left: -400%; }
        }
        
        body { margin: 0; } 
        div#slider { 
            overflow: hidden; 
        }
        div#slider figure img {
             width: 20%; float: left; 
        }
        div#slider figure { 
          position: relative;
          width: 500%;
          margin: 0;
          left: 0;
          text-align: left;
          font-size: 0;
          animation: 20s slidy infinite; 
        }    

        .undertext{
            grid-area: undertext;
        }

        /* Brand desktop */

        .brandlåda1{
            grid-area: brandlåda1;
        }
        
        .brandlåda2{
            grid-area: brandlåda2;
        }
        
        .brandlåda3{
            grid-area: brandlåda3;
        } 
        
        .brandlåda4{
            grid-area: brandlåda4;
        }

        .brandfooter{
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            "brandlåda1 brandlåda2"
            "brandlåda3 brandlåda4";
        
        }

        .brandbox1, .brandbox2, .brandbox3, .brandbox4{
            margin: 15px;
            background-color: #5E5959;
            border: #3E3838;
            border-width: 5px;
            border-style: solid;
            border-left-color: #FFD600;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 
                "bildbox"
                "brandinfo";
        }

        .brandinfo{
            list-style: none;
            padding: 10px;
            color: #FFD600;
            font-family: rockwell;
            font-size: 25px;
            grid-area: brandinfo;
        }

        .bildbox{
            grid-area: bildbox;
            
        }

        li{
            padding: 10px;
        }

        .menylink {
            height: 40px;
            width: 100px;
            position: relative;
        }

        /* History desktop */

        .historyf{
            display: grid;
            grid-template-areas:
            ". rubrik ."
            "låda låda snuff" 
            "låda låda gubbar";
            margin: 40px;
            grid-template-rows: 8% 46% auto;
            grid-template-columns: 1fr 1fr 1fr;
            
        
        
        }

        .history{
            color: #FFD600;
            font-family: 'Rockwell';
            font-size: 35px;
            position: relative;
            grid-area: rubrik;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .textbox{
            grid-area: låda;
            background-color: #5E5959;
            border:  #3E3838 solid 5px;
            border-left-color: #FFD600;
            text-align: center;
            
        
        }

        .snuff{
            grid-area: snuff;
            display: flex;
            align-self: center;
            position: relative;
            left: 58px;
            bottom: 30px;
            border-left: #FFD600 solid 5px;
            
        }

        .snuff2{
            grid-area: gubbar;
            display: flex;
            align-self: center;
            position: relative;
            left: 58px;
            bottom: 100px;
            border-left: #FFD600 solid 5px;
        }

    
        .historytext1, .historytext2, .historytext3, .historytext4{
            font-size: 25px;
            margin: 20px;
            line-height: 1.7;
        
        
        }
}

